#projects {
    padding: 50px 0;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .project-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-card p {
    font-size: 16px;
    margin-bottom: 60px;
  }
  
  .project-links {
    position: absolute; /* Position the link buttons relative to the project card */
    bottom: 20px; /* Adjust the distance from the bottom of the card */
    left: 0; /* Align the buttons to the left side of the card */
    right: 0; /* Align the buttons to the right side of the card */
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
  }
  .project-links a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    margin-right: 30px; /* Add spacing between the buttons */

  }
  
  .project-links a:hover {
    background-color: #0056b3;
  }
  